p{
    font-family: 'Satisfy', cursive;
    font-size: 2rem; 
    text-align: left;  
    }
    
h1{ font-family: 'Ephesis', cursive;
    font-size: 6rem;
    text-align: center;
    font-weight: 900;
    color: white;
    text-align: center;
    }
h2{
    color: chocolate;
    text-align: center;
    font-style: oblique;
    }


h3{
    color: black;
    font-size: 3rem;
    text-align: center}
    h4{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    }